@font-face {
    font-family: 'source_sans';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'source_sans', sans-serif;
    background-color: white;
}

.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.header-container-menu-list {    
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-container-menu-list-item {
    font-size: 18px;
    font-weight: 600;
}

.header-container-menu-list-item:not(:first-child){
    margin-left: 65px;
}

.header-container-menu-list-item-link {
    color: #cc9933;
}

.header-container-menu-list-item-logo {
    width: 25px;
    height: 25px;
    background-image: url(../img/logo-square.png);
    background-size: contain;
}

.main-photo-container {
    width: 100%;
    height: 450px;
    background-image: url(../img/logo_.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-products-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-products-description-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.about-products-description {
    line-height: 1.5;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.advantage-list-item {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 5px #a2a2a2;
    border-radius: 12px;
}


.advantage-list-item-heading {
    margin-top: 270px;
    text-align: center;
}

.advantage-description {
    margin-top: 15px;
    line-height: 1.5;
    text-align: center;
}

.advantage-list-item {
    margin-left: 50px;
    margin-bottom: 50px;
}

.advantage-list-item:nth-child(3n+1) {
    margin-left: 0px;
}

.plate_1 {
    background-image: url(../img/plate_1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_2 {
    background-image: url(../img/plate_2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_3 {
    background-image: url(../img/plate_3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_4 {
    background-image: url(../img/plate_4.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_5 {
    background-image: url(../img/plate_5.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_6 {
    background-image: url(../img/plate_6.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.footer-container {
    width: 100%;
    height: 250px;
    background-color:#010805;
    margin-top: 50px;
}

.footer-menu {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-list-item{
    line-height: 1.5;
}

.info {
    margin-right: auto;
}

.contact {
    text-align: left;
}

.social {
    margin-left: auto;
}

.footer-menu-list-item-heading {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer-submenu-list-item-link {
    color: #ffffff;
}

.number {
    color: #ffffff;
    background-image: url(../svg/phone-icon.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.e-mail {
    color: #ffffff;
    background-image: url(../svg/e-mail-icon.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.social-menu-list {
    display: flex;
}

.social-menu-list-item {
    width: 40px;
    height: 40px;
}

.vk-social {
    background-image: url(../svg/vk-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.inst-social {
    background-image: url(../svg/inst-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.product-menu-container {
    margin-top: 50px;
}

.product-menu-list {
    display: flex;
    flex-wrap: wrap;
}

.product-menu-list-item {
    width: 300px;
    height: 450px;
    margin-left: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px grey;
    text-align: center;
}

.product-menu-list-item:nth-child(3n+1) {
    margin-left: 0;
}

.product-menu-list-item-heading {
    margin-top: 25px;
    font-size: 16px;
}

.price {
    color: grey;
}

/* contacts.html */

.contacts {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
}

.social-info-container {
    margin-right: auto;
}

.contacts-info {
    margin-left: auto;
}
