@font-face {
    font-family: 'source_sans';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'source_sans', sans-serif;
    background-color: white;
}

.container {
    max-width:1000px;
    margin-right: auto;
    margin-left: auto;
}

/* Menu desktop */

.header-container-menu-list {    
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-container-menu-list-item {
    font-size: 18px;
    font-weight: 600;
}

.header-container-menu-list-item:not(:first-child){
    margin-left: 65px;
}

.header-container-menu-list-item-link {
    color: #cc9933;
}

.header-container-menu-list-item-logo {
    width: 25px;
    height: 25px;
    background-image: url(../img/logo-square.png);
    background-size: contain;
}

/* Menu mobile */
.menu-mobile {
    display: none;
    margin: 0;
}

.menu-mobile-triger {
	background: url(../svg/burger.svg) 0 0 no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	margin-left: auto;
	
}	
.menu-mobile-close {
	background: url(../svg/burger-close.svg) 0 0 repeat;
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 100;
}
.menu-mobile-popup {
	background: #010805;
	display: none;
	position: absolute;
	right: -110%;
	top: 0;
	max-width: 250px;
	box-sizing: border-box;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-mobile__list {
    margin: 0;
    padding: 0;
}

.mobile-menu__item {
    list-style: none;
	margin: 10px 0;
	padding: 0;
}

.mobile-menu__item__link {
    font-size: 18px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 1.4;	
	text-decoration: none;
}

.body_pointer * {
	cursor: pointer;
}

/* Logo */

.main-photo-container {
    width: 100%;
    height: 450px;
    background-image: url(../img/logo_.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* About products */

.about-products-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-products-description-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.about-products-description {
    line-height: 1.5;
}

/* Advantage */

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.advantage-list-item {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 5px #a2a2a2;
    border-radius: 12px;
}

.advantage-list-item:hover {
    filter: blur(1px);
    
}

.btn-advantage-list-item {
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -175px;
    display: block;
    border: 1px solid black;
    border-radius: 12px;
    padding-top: 14px;
    padding-left: 5px;
    visibility: hidden;
}

.advantage-list-item-heading {
    margin-top: 270px;
    text-align: center;
}

.advantage-description {
    line-height: 1.5;
    text-align: center;
}

.advantage-list-item {
    margin-left: 50px;
    margin-bottom: 50px;
}

.advantage-list-item:nth-child(3n+1) {
    margin-left: 0px;
}

.plate_1 {
    background-image: url(../img/plate_1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_2 {
    background-image: url(../img/plate_2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_3 {
    background-image: url(../img/plate_3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_4 {
    background-image: url(../img/plate_4.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_5 {
    background-image: url(../img/plate_5.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_6 {
    background-image: url(../img/plate_6.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

/* Slider for advantage*/
.sl_ctr{
    
    position: absolute;
    margin-left: 25px;
    max-width: 800px;
    max-height: 600px;
    overflow:hidden;
}

.sldr{
    position:relative;
    width:10000px;
    height:300px;
}

.sldr img{
    float:left;
}

.prv_b, .nxt_b{
    position:absolute;
    top:135px;
    display:block;
    width:35px;
    height:35px;
    cursor:pointer;
}

.prv_b:hover, .nxt_b:hover{
    opacity:.6;
}

.prv_b{
    left:10px;
    background:url(images/prv.png) no-repeat;
}

.nxt_b{
    right:10px;
    background:url(images/nxt.png) no-repeat;
    }

/* Popular items */

.popular-item-container {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

.popular-item-heading {
    margin-left: 60%;
    padding-top: 15px;
}

.popular-item-price {
    margin-left: 60%;
}

.popular-item-description {
    margin-left: 60%;
    padding-top: 55px;
    padding-bottom: 55px;
    max-width: 500px;
}

.popular-item-complectation-list {
    margin-left: 60%;
    padding-left: 17px;
    list-style: outside;
}

.popular-item-character-list {
    margin-left: 60%;
    padding-top: 55px;
    padding-left: 17px;
    padding-bottom: 55px;
    list-style: outside;
}

.btn-popular-item {
    width: 250px;
    height: 55px;
    margin-left: 60%;
    
}


/* btn */
.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #6fbff7;
    border-radius: 12px;
    color: #6fbff7;
    transition-property: color, background-color;
    transition-delay: 0.3ms;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    color: #ffffff;
    background-color: #6fbff7;
}

/* Footer */

.footer {
    flex-shrink: 0;
}

.footer-container {
    width: 100%;
    max-height: 250px;
    background-color:#010805;
}

.footer-menu {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-list-item{
    line-height: 1.5;
}

.info {
    margin-right: auto;
}

.contact {
    text-align: left;
}

.social {
    margin-left: auto;
}

.footer-menu-list-item-heading {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer-submenu-list-item-link {
    color: #ffffff;
}

.number {
    color: #ffffff;
    background-image: url(../svg/phone-icon.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.e-mail {
    color: #ffffff;
    background-image: url(../svg/e-mail-icon.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.social-menu-list {
    display: flex;
}

.social-menu-list-item {
    width: 40px;
    height: 40px;
}

.vk-social {
    background-image: url(../svg/vk-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.inst-social {
    background-image: url(../svg/inst-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer for 320px */
.footer-container-for-320px {
    width: 100%;
    display: none;
    background-color: black;
}

.footer-list-for-320px {
    padding-top: 15px;
    display: inline-block;
    
}

.footer-menu-for-320px__social {
    padding-left: 30px;
}

.footer-menu-for-320px__vk {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../svg/vk-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-menu-for-320px__inst {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../svg/inst-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.number_for-320px {
    position: absolute;
    padding-top: 50px;
    padding-left: 90px;
    color: #ffffff;
    font-size: 24px;
}

.footer-submenu-for-320px {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.

/* magazine.html */

.product-menu-container {
    margin-top: 50px;
}

.product-menu-list {
    display: flex;
    flex-wrap: wrap;

}

.product-menu-list-item {
    width: 300px;
    height: 450px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.product-menu-list-item:nth-child(3n+1) {
    margin-left: 0;
}

.product-menu-list-item-heading {
    margin-top: 25px;
    font-size: 16px;
}

.price {
    color: grey;
    padding-bottom: 50px;
}


/* contacts.html */
.contacts-info {
    text-align: center;
}
.contacts-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.contacts__heading {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.contacts-info-list-item {
    margin-bottom: 50px;
}
.contacts-list-heading {
    margin-bottom: 15px;
}
.contacts-number {
    font-size: 28px;
    color: #606061;
}
.contacts-e-mail {
    font-size: 28px;
    color: #606061;
}
/*
.contacts {
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 0 auto;
}

.social-info-container {
    margin-right: 300px;
}

.social-info-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.contacts-info-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.contacts-list-heading {
    margin: 0;
    padding-bottom: 15px;
}
*/

/* dostavka.html */

.line{
    max-width: 1000px;
    height: 1px;
    border: none;
    padding-top: 28px;
    padding-bottom: 28px;
    margin: auto;
    margin-bottom: 14px;
}

.delivery-order-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/dostavka.png);
    background-size: 500px 325px;
    background-repeat: no-repeat;
    background-position: right center ;
    
}

.delivery-order-list {
    padding-left: 15px;
    width: 500px;
    list-style:unset;
    line-height: 1.5;
}

.pay-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/pay.png);
    background-size: 450px 270px;
    background-repeat: no-repeat;
    background-position: left center ;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f5f5f5; 
}

.pay-list {
    list-style: outside;
    padding-left: 15px;
    width: 500px;
    line-height: 1.5;
    margin-left: auto;
}

.pay-heading {
    list-style: outside;
    padding-left: 15px;
    width: 500px;
    margin-left: auto;
}

.work-schedule-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/work-schedule.png);
    background-size: 500px 325px;
    background-repeat: no-repeat;
    background-position: right center ;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    
}

.work-schedule-list {
    padding-left: 15px;
    width: 500px;
    list-style:unset;
    line-height: 1.5;
}


.t




/* Modal window */
.modalDialog {
    position: fixed;
    overflow-y: hidden;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
    overflow-y: hidden;
}

.modalDialog > div {
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y:hidden;
    position: fixed;
    background: #fff;
}

.close {
    color: #606061;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    
}


/* Media query */
@media (max-width: 768px) {
    .product-menu-list {
        justify-content: center;
        
    }
    .product-menu-list-item {
        margin-left: 25px;
    }
    .product-menu-list-item:nth-child(3n+1) {
        margin-left: 25px;
    }
    .product-menu-list-item:nth-child(2n+1) {
        margin-left: 0px;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .advantage-list {
        flex-direction: column;
        align-items: center;
    }
    .advantage-list-item {
        margin-left: 0;
    }
    .header-container-menu-list {
        display: none;
    }
    .product-menu-list {
        margin-top: 50px;
        justify-content: center;
    }

    .product-menu-list-item {
        margin: 0;
    }

    .product-menu-list-item:nth-child(3n+1) {
        margin: 0;
    }
    .footer-container {
        display: none;
    }
    .footer-container-for-320px {
        display: block;
    }
    .main-photo {
        display: none;
    }
    .menu-mobile {
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 35px;
    }
    .popular {
        display: none;
    }
    .about-products-container {
        margin-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .header {
        background-color: #010805;
        background-image: url(../img/logo_mobile.png);
        background-position: 35px center;
        background-size: 30%;
        background-repeat: no-repeat;
    }
    .delivery-and-payment {
        display: none;
    }
    .delivery-and-payment-list {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;   
    }
    .page-heading {
        text-align: center;
    }
    .delivery-list {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 110px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        background-color: #f5f5f5;
        border-radius: 12px;
        background-image: url(../svg/delivery-logo.svg);
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: 100px 100px;
    }
    .payment-list {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 130px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        background-color: #f5f5f5;
        border-radius: 12px;
        background-image: url(../svg/payment-logo.svg);
        background-repeat: no-repeat;
        background-position: center 10px;
        background-size: 100px 100px;
    }
    .uptime-list {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 110px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        background-color: #f5f5f5;
        border-radius: 12px;
        background-image: url(../svg/uptime-logo.svg);
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: 100px 100px;
    }
    
}
