* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: white;
    color: #010805;
}

.container {
    max-width:1000px;
    margin-right: auto;
    margin-left: auto;
}

/************************************ Menu desktop ************************************/

.header-container-menu-list {    
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-container-menu-list-item {
    font-size: 18px;
    font-weight: 600;
}

.header-container-menu-list-item:not(:first-child){
    margin-left: 65px;
}

.header-container-menu-list-item-link {
    color: #cc9933;
}

.header-container-menu-list-item-logo {
    width: 25px;
    height: 25px;
    background-image: url(../img/logo-square.png);
    background-size: contain;
}

/************************************ Menu mobile ************************************/
.menu-mobile {
    display: none;
    margin: 0;
}

.menu-mobile-triger {
    background: url(../svg/burger.svg) 0 0 no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    
}   
.menu-mobile-close {
    background: url(../svg/burger-close.svg) 0 0 repeat;
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}
.menu-mobile-popup {
    background: #010805;
    display: none;
    position: absolute;
    right: -110%;
    top: 0;
    max-width: 250px;
    box-sizing: border-box;
    padding: 30px;
    z-index: 9999;  
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-mobile__list {
    margin: 0;
    padding: 0;
}

.mobile-menu__item {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.mobile-menu__item__link {
    font-size: 18px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.4;   
    text-decoration: none;
}

.body_pointer * {
    cursor: pointer;
}

/************************************ Logo ************************************/

.main-photo-container {
    width: 100%;
    height: 450px;
    background-image: url(../img/logo_.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/************************************ About products ************************************/

.about-products-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-products-description-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.about-products-description {
    line-height: 1.5;
}

/************************************ Advantage ************************************/

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.advantage-list-item {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 5px #a2a2a2;
    border-radius: 12px;
}

.advantage-list-item:hover {
    filter: blur(1px);
    
}

.btn-advantage-list-item {
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -175px;
    display: block;
    border: 1px solid black;
    border-radius: 12px;
    padding-top: 14px;
    padding-left: 5px;
    visibility: hidden;
}

.advantage-list-item-heading {
    margin-top: 270px;
    text-align: center;
}

.advantage-description {
    line-height: 1.5;
    text-align: center;
}

.advantage-list-item {
    margin-left: 50px;
    margin-bottom: 50px;
}

.advantage-list-item:nth-child(3n+1) {
    margin-left: 0px;
}

.plate_1 {
    background-image: url(../img/plate_1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_2 {
    background-image: url(../img/plate_2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_3 {
    background-image: url(../img/plate_3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_4 {
    background-image: url(../img/plate_4.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_5 {
    background-image: url(../img/plate_5.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

.plate_6 {
    background-image: url(../img/plate_6.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 225px;
}

/************************************ Slider for advantage ************************************/
/* стили основного контейнера слайдера */
.slider {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider1 {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  /* стили для обёртки, в которой заключены слайды */
  .slider__wrapper {
    position: relative;
    overflow: hidden;
  }

  /* стили для контейнера слайдов */
  .slider__items {
    display: flex;
    transition: transform 0.6s ease;
  }

  /* стили для слайдов */
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* стили для кнопок "вперед" и "назад" */
  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }

  .slider__control_prev {
    left: 0;
  }

  .slider__control_next {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  /* стили для индикаторов */
  .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .slider__indicators li.active {
    background-color: #fff;
  }


/************************************ Popular items ************************************/
.slider1 {
    display: inline-block;
}

.slider {
    display: inline-block;
}

.slider-popular-container {
    display: inline-block;
}

.slider-popular-container2 {
    display: inline-block;
}

.popular-item-container {
    display: none;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

.popular-item-heading {
    margin-left: 60%;
    padding-top: 15px;
}

.popular-item-price {
    margin-left: 60%;
}

.popular-item-description {
    margin-left: 60%;
    padding-top: 55px;
    padding-bottom: 55px;
    max-width: 500px;
}

.popular-item-complectation-list {
    margin-left: 60%;
    padding-left: 17px;
    list-style: outside;
}

.popular-item-character-list {
    margin-left: 60%;
    padding-top: 55px;
    padding-left: 17px;
    padding-bottom: 55px;
    list-style: outside;
}

.btn-popular-item {
    width: 150px;
    height: 55px;
    margin-left: 60%;
    outline: none;
    cursor: pointer;
}


/************************************ btn ************************************/
.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #6fbff7;
    border-radius: 12px;
    color: #6fbff7;
    background-color: #ffffff;
    transition-property: color, background-color;
    transition-delay: 0.9ms;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    color: #ffffff;
    background-color: #6fbff7;
}

/************************************ Footer ************************************/

.footer {
    flex-shrink: 0;
}

.footer-container {
    width: 100%;
    max-height: 250px;
    background-color:#010805;
}

.footer-menu {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-list-item{
    line-height: 1.5;
}

.info {
    margin-right: auto;
}

.contact {
    text-align: left;
}

.social {
    margin-left: auto;
}

.footer-menu-list-item-heading {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer-submenu-list-item-link {
    color: #ffffff;
}

.number {
    color: #ffffff;
    background-image: url(../svg/phone-icon.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.e-mail {
    color: #ffffff;
    background-image: url(../svg/e-mail-icon.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.social-menu-list {
    display: flex;
}

.social-menu-list-item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.vk-social {
    background-image: url(../svg/vk-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.inst-social {
    background-image: url(../svg/inst-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/************************************ footer for 320px ************************************/
.footer-container-for-320px {
    width: 100%;
    display: none;
    background-color: black;
}

.footer-list-for-320px {
    padding-top: 15px;
    display: inline-block;
    
}

.footer-menu-for-320px__social {
    padding-left: 30px;
}

.footer-menu-for-320px__vk {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../svg/vk-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-menu-for-320px__inst {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../svg/inst-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.number_for-320px {
    position: absolute;
    padding-top: 50px;
    padding-left: 90px;
    color: #ffffff;
    font-size: 24px;
}

.footer-submenu-for-320px {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

/************************************ magazine.html ************************************/

.product-menu-container {
    margin-top: 50px;
}

.product-menu-list {
    display: flex;
    flex-wrap: wrap;

}

.product-menu-list-item {
    width: 300px;
    height: 450px;
    margin-left: 50px;
    margin-bottom: 50px;
    
}

.product-menu-list-item:nth-child(3n+1) {
    margin-left: 0;
}

.product-menu-list-item-heading {
    margin-top: 25px;
    font-size: 16px;
}

.price {
    color: grey;
    padding-bottom: 50px;
}

.product-menu-list-item-img {
    border-radius: 12px;
}

/************************************ contacts.html ************************************/
.contacts-info {
    text-align: center;
}
.contacts-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.contacts__heading {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.contacts-info-list-item {
    margin-bottom: 50px;
}
.contacts-list-heading {
    margin-bottom: 15px;
}
.contacts-number {
    font-size: 28px;
    color: #606061;
}
.contacts-e-mail {
    font-size: 28px;
    color: #606061;
}

/************************************ dostavka.html ************************************/

.line{
    max-width: 1000px;
    height: 1px;
    border: none;
    padding-top: 28px;
    padding-bottom: 28px;
    margin: auto;
    margin-bottom: 14px;
}

.delivery-order-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/dostavka.png);
    background-size: 500px 325px;
    background-repeat: no-repeat;
    background-position: right center ;
    
}

.delivery-order-list {
    padding-left: 15px;
    width: 500px;
    list-style:unset;
    line-height: 1.5;
}

.cont {
    width: 100%;
    background-color: #f5f5f5;
}

.pay-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/pay.png);
    background-size: 450px 270px;
    background-repeat: no-repeat;
    background-position: left center ;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
     
}

.pay-list {
    list-style: outside;
    padding-left: 15px;
    width: 500px;
    line-height: 1.5;
    margin-left: auto;
}

.pay-heading {
    list-style: outside;
    padding-left: 15px;
    width: 500px;
    margin-left: auto;
}

.work-schedule-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/work-schedule.png);
    background-size: 500px 325px;
    background-repeat: no-repeat;
    background-position: right center ;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    
}

.work-schedule-list {
    padding-left: 15px;
    width: 500px;
    list-style:unset;
    line-height: 1.5;
}

.delivery-and-payment-for320px {
    display: none;
}

/************************************ Modal window ************************************/
.modalDialog {
    position: fixed;
    overflow-y: hidden;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
    overflow-y: hidden;
}

.modalDialog > div {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y:hidden;
    position: fixed;
    background: #ffffff;
}

/************************************ Inputs ************************************/
.input-field {
    height: 40px;
    width: 200px;
    padding-left: 15px;
    border: 1px solid #6fbff7;
    border-radius: 12px;
    outline: none;
    color: #a2a2a2;
}

.buyer-btn-input {
    height: 40px;
    width: 120px;
    border: 1px solid #6fbff7;
    color: #6fbff7;
    background-color: #ffffff;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}

.buyer-btn-input:hover {
    background-color: #6fbff7;
    color: #ffffff;
}

/************************************ Media query ************************************/
@media (min-width: 1400px) {
    .popular-item-container {
        display: block;
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    .popular-item-heading {
        margin-left: 63%;
    }
    .popular-item-price {
        margin-left: 63%;
        padding: 0;
    }
    .popular-item-description {
        margin-left: 63%;
    }
    .popular-item-complectation-list {
        margin-left: 63%;
    }
    .popular-item-character-list {
        margin-left: 63%;
    }
    .btn-popular-item {
        margin-left: 63%;
    }
}
@media (max-width: 1399px) and (min-width: 1200px) {
    .popular-item-container {
        display: block;
    }
    .sl_ctr {
        margin-left: auto;
        width: 700px;
        height: 500px;
    }
    .popular-item-heading {
        padding-top: 0px;
    }
    .popular-item-price {
        padding: 0;
    }
    .popular-item-description {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .popular-item-character-list {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media (max-width: 768px) {
    .product-menu-list {
        justify-content: center;
        
    }
    .product-menu-list-item {
        margin-left: 25px;
    }
    .product-menu-list-item:nth-child(3n+1) {
        margin-left: 25px;
    }
    .product-menu-list-item:nth-child(2n+1) {
        margin-left: 0px;
    }
    .popular-item-container {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .advantage-list {
        flex-direction: column;
        align-items: center;
    }
    .advantage-list-item {
        margin-left: 0;
    }
    .header-container-menu-list {
        display: none;
    }
    .product-menu-list {
        margin-top: 50px;
        justify-content: center;
    }

    .product-menu-list-item {
        margin: 0;
    }

    .product-menu-list-item:nth-child(3n+1) {
        margin: 0;
    }
    .footer-container {
        display: none;
    }
    .footer-container-for-320px {
        display: block;
    }
    .main-photo {
        display: none;
    }
    .menu-mobile {
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 35px;
    }
    .popular {
        display: none;
    }
    .about-products-container {
        margin-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .header {
        background-color: #010805;
        background-image: url(../img/logo_mobile.png);
        background-position: 35px center;
        background-size: 30%;
        background-repeat: no-repeat;
    }
    .delivery-and-payment {
        display: none;
    }
    .delivery-and-payment-list {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;   
    }
    .page-heading {
        text-align: center;
    }
    .delivery-list {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 110px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        background-color: #f5f5f5;
        border-radius: 12px;
        background-image: url(../svg/delivery-logo.svg);
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: 100px 100px;
    }
    .payment-list {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 130px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        background-color: #f5f5f5;
        border-radius: 12px;
        background-image: url(../svg/payment-logo.svg);
        background-repeat: no-repeat;
        background-position: center 10px;
        background-size: 100px 100px;
    }
    .uptime-list {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 110px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        background-color: #f5f5f5;
        border-radius: 12px;
        background-image: url(../svg/uptime-logo.svg);
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: 100px 100px;
    }
    .delivery-and-payment-for320px {
        display: block;
    }
    
} 

/************************************ Modal Window ************************************/


/*****/
.modalwindow-product,
.dufl-modal,
.greg-modal,
.pilw-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.div1 {
    width: 1440px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.div3 {
    width: 800px;
    height: 600px;
}

.modalwindow-product__content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}

.close, 
.dufl-close, 
.greg-close, 
.pilw-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-image: url(../svg/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #606061;

  }

.close:hover, 
.dufl-close:hover, 
.greg-close:hover, 
.pilw-close:hover {
    cursor: pointer;    
    transform: scale(1.1);
}
.modal-body {
    padding: 2px 16px;
}

.modalwindow-product__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalwindow-product__heading {
    margin: 0;
   
    margin-left: 50px;
    padding-bottom: 25px;
}
.modalwindow-product__price {
    margin-left: 50px;
    padding-bottom: 25px;

}
.modalwindow-product__description {
    margin-left: 50px;
    max-width: 500px;
    padding-bottom: 25px;
}
.list-complectation {
    margin-left: 50px;
    list-style: outside;
    padding-bottom: 25px;
}

.list-character {
    margin-left: 50px;
    list-style: outside;
    padding-bottom: 25px;
}

.myBtn, 
.dufl-btn, 
.greg-btn, 
.pilw-btn{
    outline: none;
    cursor: pointer;
}

.myBtn_ {
    width: 150px;
    margin-left: 50px;
    outline: none;
    cursor: pointer;
}
.slider-container-product {
    width: 800px;
    height: 600px;
    position:absolute;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
}



/************************************ FOS ************************************/
.fos {
    display: none;
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.callback-heading {
    text-align: center;
}

.callback-description {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.callback-form {
    width: 300px;
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
}

.order__content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 12px;
}

.order-field {    
    width: 300px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #6fbff7;
    border:  1px solid #6fbff7;
    outline: none;
    border-radius: 12px;
}

textarea::-webkit-input-placeholder {
    color: #6fbff7;
    font-size: 18px;
    font-weight: 100;
    opacity: 1;
    transition: opacity, 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input::-webkit-input-placeholder {
    color: #6fbff7;
    font-size: 18px;
    font-weight: 100;
    opacity: 1;
    transition: opacity, 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.subm-btn {
    margin-left: 39px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: 1px solid #6fbff7;
    cursor: pointer;
    outline: none;
}

.check-data {
    margin-right: 10px;
}

.order-field__text {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid #6fbff7;
    border-radius: 12px;
    resize: none;
}


.close_ {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-image: url(../svg/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;

  }

.close_:hover {
    cursor: pointer;
    transform: scale(1.1);
}